#update-profile-form textarea {
    height: 60px;
    width: 60%;
}

#update-profile-form .form-input-box {
    display: flex;
    flex-direction: column;
}

#update-profile-form label {
    margin-bottom: 10px;
}
