.homepage-about-inner {
    display: flex;
    margin-bottom: 50px;
    align-items: center;
}

.homepage-about-inner-text {
    padding: 20px;
}

#homepage-about .image-container {
    width: 100%;
}

#homepage-about .image-container img {
    width: 100%;
}

#homepage-about-1 {
    margin-bottom: 50px;
}

#homepage-about-2 .homepage-about-inner-text,
#homepage-about-4 .homepage-about-inner-text {
    padding-right: 50px;
}

#homepage-about-3 .homepage-about-inner-text {
    padding-left: 50px;
}

@media only screen and (max-width: 700px) {
    #homepage-about-1 {
        margin: 0;
    }

    #homepage-about-2 .homepage-about-inner-text,
    #homepage-about-4 .homepage-about-inner-text {
        padding: 20px;
    }

    #homepage-about-3 .homepage-about-inner-text {
        padding: 20px;
    }
    .homepage-about-inner {
        flex-direction: column;
        margin-bottom: 0;
        text-align: center;
    }
}
