#notification-box {
    border: 1px solid var(--grey-color);
    width: 30%;
    padding: 10px;
    margin: 10px 0;
    display: block;
    cursor: pointer;
}

#notification-box:focus {
    outline: none;
}

#notification-box h4 {
    margin-top: 0;
}

.new-notification {
    background-color: var(--grey-color);
}
