#notification-box {
    border: 1px solid var(--grey-color);
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    display: block;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#notification-box:focus {
    outline: none;
}

#notification-box h4 {
    margin-top: 0;
}

.new-notification {
    background-color: var(--grey-color);
}
