.form-input-box {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.form-input-box label {
    width: 50%;
}

.form-input-box input {
    width: 50%;
}