.pet-card {
    width: 90%;
    margin: 0 auto;
    /* background-color: var(--dark-color); */
    /* padding: 15px; */
    display: flex;
    flex-direction: column;
    border: 1px solid var(--grey-color);
}

.pet-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    filter: grayscale(35%);
    justify-self: flex-end;
}

.pet-card a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.pet-card-text {
    padding: 10px 20px;
    text-align: center;
}

/* .pet-card-text h2 {
    font-size: 1.1rem;
    font-weight: 900;
} */
