#post-pet-form .form-input-box {
    width: 70%;
    display: flex;
}

#post-pet-form .form-input-box label {
    width: 30%;
}

#post-pet-form .form-input-box input,
#post-pet-form .form-input-box textarea {
    width: 70%;
}

#post-pet-form .pet-icons {
    display: flex;
    width: 70%;
}

#post-pet-form .pet-icons label {
    width: 30%;
}

#post-pet-form .pet-icons .pet-icons-choices button {
    outline: none;
    border: none;
    background-color: inherit;
    cursor: pointer;
}

#post-pet-form .pet-icons .pet-icons-choices i {
    margin: 0 10px;
}

#post-pet-form .pet-icons .pet-icons-choices i:hover {
    color: var(--primary-color);
}
