#password-update-form .form-input-box {
    display: flex;
    margin-top: 10px;
    width: 50%;
}

#password-update-form .form-input-box label {
    width: 30%;
    margin-right: 10px;
}

#password-update-form .form-input-box input {
    width: 70%;
}
