#pet-list {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    padding: 30px 10px;
}

#my-pets-page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 30px 10px;
}

#pets-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 30px 10px;
}

#pet-detail {
    padding: 20px 50px;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pet-create-page {
    padding-left: 50px;
}

#profile-detail {
    padding: 0 50px;
}

#profile-pets {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 30px 10px;
}

#showcase {
    height: 75vh;
    background-color: var(--dark-color);
    color: var(--white-color);
    display: flex;
    flex-direction: row;
    padding: 0 50px;
    justify-content: center;
    align-items: center;
}

#showcase a {
    display: block;
}

.mySlides {
    display: none;
}

#showcase-image {
    padding: 0 20px;
}

#showcase-image img {
    width: 450px;
    filter: grayscale(35%);
}

#showcase h1 {
    font-size: 3.6rem;
    font-weight: 900;
    letter-spacing: 0.2px;
    margin: 0;
}

#showcase p {
    font-size: 1.5rem;
}

#showcase button {
    font-size: 1.1rem;
}

.separation-container {
    height: 70px;
}

#about-page-text {
    margin-bottom: 40px;
}

#account-settings-page {
    padding: 0 40px;
}

#notifications-wrapper {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#notifications-wrapper > div:first-child {
    background-color: var(--grey-color);
}

#pledge-detail-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

#your-images {
    background-color: var(--grey-color);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;
}

#your-images img {
    width: 100%;
    height: auto;
}

#update-profile-image-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#update-profile-image-form button {
    margin-left: 20px;
}

#update-pet-image-page {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

#update-pet-image-page img {
    width: 100%;
    margin-top: 40px;
}

#delete-pet-image-form {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#messages-page {
    padding: 0 30px;
    width: 70%;
}

#messages-page p {
    line-height: 1.5;
}

@media only screen and (max-width: 700px) {
    .separation-container {
        display: none;
    }
    #showcase {
        flex-direction: column;
        padding: 20px 50px;
        justify-content: space-around;
    }

    #showcase-text {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .mySlides {
        display: none;
    }

    #showcase-image img {
        width: 100%;
    }

    #showcase h1 {
        font-size: 2.5rem;
    }

    #showcase p {
        font-size: 1.2rem;
    }

    #showcase a.btn {
        display: block;
    }

    #pet-list {
        display: flex;
        flex-direction: column;
        padding: 30px 10px;
    }

    #pet-create-page,
    #my-pets-page,
    #profile-pets,
    #pets-list {
        padding: 20px;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    ul#notifications-wrapper {
        padding: 0;
        width: 100%;
    }

    #messages-page {
        width: 85%;
        padding: 30px;
    }

    #messages-page img {
        width: 80%;
    }

    #profile-detail {
        padding: 0;
    }

    #account-settings-page {
        padding: 0 30px;
    }

    #pet-detail {
        padding: 20px 0;
    }
}

@media only screen and (min-width: 701px) and (max-width: 900px) {
    #pet-list {
        margin: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #showcase {
        height: 50vh;
    }

    #showcase-image {
        padding: 0 20px;
    }

    #showcase-image img {
        width: 300px;
        filter: grayscale(35%);
    }

    #showcase h1 {
        font-size: 2.5rem;
    }

    #showcase p {
        font-size: 1.2rem;
    }
}
