nav {
    background-color: var(--white-color);
    border-bottom: 1px solid var(--dark-color);
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 70px;
    width: 97vw;
    z-index: 10;
}

nav a {
    color: var(--dark-color);
    padding: 15px;
    font-size: 1rem;
    text-decoration: none;
    font-weight: 500;
}

nav a:hover {
    text-decoration: underline;
}

nav button {
    margin-left: 20px;
}

.nav-link {
    border: none;
    padding: 0;
    font-size: 1rem;
    background-color: transparent;
    font-family: inherit;
    margin-right: 20px;
}

.nav-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.nav-link:focus {
    outline: none;
}

.logo {
    height: 50px;
    margin-left: 20px;
}

@media only screen and (max-width: 400px) {
    nav {
        position: static;
        flex-direction: column;
        height: fit-content;
        padding-right: 0;
        padding-bottom: 20px;
        width: 100vw;
    }
    nav a,
    nav button,
    .nav-link {
        padding: 5px;
        font-size: 1rem;
        margin: 15px;
    }
    .nav-links {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .logo {
        height: auto;
        width: 80%;
        margin: auto;
    }

    #logo-link {
        display: flex;
        justify-content: center;
    }
}

@media only screen and (min-width: 401px) and (max-width: 700px) {
    nav {
        position: static;
        flex-direction: column;
        height: fit-content;
        padding-right: 0;
        padding-bottom: 20px;
        width: 100vw;
    }
    nav a,
    nav button,
    .nav-link {
        padding: 5px;
        font-size: 1.3rem;
        margin: 15px;
    }
    .nav-links {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .logo {
        height: auto;
        width: 80%;
        margin: auto;
    }

    #logo-link {
        display: flex;
        justify-content: center;
    }
}
