nav {
    background-color: var(--white-color);
    border-bottom: 1px solid var(--dark-color);
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 70px;
    width: 92.3vw;
    z-index: 10;
}

nav h1 {
    color: var(--dark-color);
    font-size: 1.5em;
    margin: 10px;
    font-weight: 600;

}

nav a {
    color: var(--dark-color);
    padding: 15px 15px;
    font-size: 1rem;
    text-decoration: none;
    font-weight: 500;
}

nav a:hover {
    text-decoration: underline;
}

nav button {
    margin-left: 20px;
}