#profile-detail-card {
    border: 3px solid var(--secondary-color);
    color: var(--dark-color);
    border-radius: 50px;
    width: 90%;
    padding: 40px;
    display: flex;
    justify-content: space-between;
}

#profile-detail-card .profile-detail-image {
    width: 200px;
}

#profile-detail-card .profile-detail-image img {
    width: 100%;
}

@media only screen and (max-width: 700px) {
    #profile-detail-card {
        flex-direction: column-reverse;
        width: 100%;
        margin: 20px auto;
        border: none;
        padding: 0;
        align-items: center;
    }

    #profile-detail-card .profile-detail-image {
        margin-top: 20px;
        width: 80%;
    }

    #profile-detail-card .profile-detail-image img {
        width: 100%;
    }

    .profile-detail-text {
        margin-top: 20px;
        width: 80%;
    }

    .profile-detail-text h2.large-heading {
        margin: 0;
    }
}
